[2019-10-18 10:57] martinflorek opened #1 "Constructor parameters and properties defined in constructor"
The parser now handles "escaped" characters inside annotations' values but I have found another missing node.

The AST does not contain constructor parameters and properties declared in constructor e.g.:
[code]

[2019-10-18 21:34] drieks commented on #1
Hi @martinflorek, please try Version 4f20128eaf.

I removed KlassArgument and the constructor is now reported as `KlassDeclaration(constructor)`, including all arguments (also of type `KlassDeclaration`)

You can find the new AST structure of your test case here: https://github.com/kotlinx/ast/blob/4f20128eaf4d5d59b6c68448bfa53c266c823eec/kotlin/src/commonTest/resources/testdata/ConstructorParamet

[2019-10-21 09:52] martinflorek commented on #1
Now all my tests are crashing on calling `summary()` i.e. `KotlinAstParser.parseKotlinFile(source).summary()` throws `java.lang.UnsupportedOperationException: Empty collection can't be reduced.`.

Parsing anything leads to a new structure and `summary()` does not work anymore...

[2019-10-21 10:11] martinflorek commented on #1
Sorry, this is not true. The constructor works OK and I have other special case that is causing the crash with `summary()`. I will try to isolate it into a small test case.

[2019-10-21 10:11] drieks commented on #1
Hi @martinflorek, can you provide a stacktrace? Or a small kotlin file example causing this?

All unit tests included in `kotlinx.ast` are working fine, I think you have something in your kotlin files that is not included in the tests.

I will add a test that tries to parse https://github.com/arrow-kt/arrow to find the bug this evening (I'm living in Germany, currently GMT+2)

[2019-10-21 10:46] martinflorek opened #2 "Function with generic parameter with optional breaks the parsing"
Example below will crash when calling `summary()` i.e. `KotlinAstParser.parseKotlinFile(source).summary()` throws `java.lang.UnsupportedOperationException: Empty collection can't be reduced.`.

Parsing the code below, with the `String?` in a generic, leads to a new structure and `summary()` does not work anymore.

[code]

[2019-10-21 10:47] martinflorek commented on #1
I have added a minimalistic example in #2 that leads to weird AST structure which crashes after calling `summary()` on it.

[2019-10-21 11:15] drieks commented on #2
Thank you @martinflorek, it should be easy to fix. I will have a look at the issue this evening.

[2019-10-21 19:32] drieks commented on #2
Hi @martinflorek, I added support for nullable types in Version `ac934f1076`.

`KlassIdentifer` contains now a Boolean flag `nullable` (added in commit https://github.com/kotlinx/ast/commit/6055b752f13166ea33bf33fe8e5a568e5867fdad)

Structure after call to `summary`:
[code]

[2019-10-21 21:35] drieks opened #3 "Parsing large files is too slow"
These files are currently not included in `SelfTest.kt` because the processing does not finish within a reasonable time:
* KotlinLexer.kt
* KotlinParser.kt
* UnicodeClasses.kt

[2019-10-21 22:30] drieks opened #4 "Failed to parse UTF-8 text"
This exception will be thrown when trying to parse https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-examples/src/test/kotlin/arrow/typeclasses/StartHere.kt:
[code]

This is caused by the Unicode Character "😱" (0x22F0) in Line 27.

[2019-10-21 22:34] drieks commented on #2
Hi @martinflorek,

please try version `7fbbd71235`. I added a unit test that parses the source of `kotlinx.ast` and `arrow`. I fixed some small errors, all files are now parsed without `AstFailure`.
There are two bugs left, I'm already working on it: #3 #4

I hope you can now use `kotlinx.ast` to parse your code. If you have any suggestions please let me know :smiley:

[2019-10-22 10:58] martinflorek commented on #2
Works perfectly now. Everything I have thrown at the parser looks OK. Just the speed is very slow. The Kastree parses my sources in a second or so and AST takes maybe 10-15 seconds. Hopefully the #3 will improve this.

Thanks for this great parser!

[2019-10-22 21:04] drieks commented on #2
Ok, that's good that it's working fine now :smiley:

I know that it is slow, but currently there are no speed optimizations at all. I will look into this. What are you doing with the parsed data? Maybe running the AST transformation using Kotlin native can also speed up things. (Currently not supported but planned) I'm using [kotlinpoet](https://github.com/square/kotlinpoet) to create generated so

[2019-10-22 22:48] drieks commented on #4
This is caused by https://github.com/Strumenta/antlr-kotlin/issues/31

[2019-10-23 05:42] martinflorek commented on #2
`Klass` is OK for my use case, which is extracting annotations. It is even easier to use than Kastree.

[2019-10-24 23:47] #4 closed

[2019-10-24 23:49] drieks commented on #4
Jitpack Build `039a2a455c` contains a fix for this bug.

[2019-10-27 22:15] drieks commented on #3
Hi @martinflorek,

please try version `fd6123da02`. Can you tell me the required parsing time of the old and the new version? Thank you very much!

[2019-10-28 07:59] martinflorek commented on #3
I am not able to properly measure the parsing time only, because I process several source code repositories at once and I am looking for specific files only before parsing them.

But the new version runs a bit faster. All my processing went from ~33 seconds to ~32 seconds. Version with Kastree runs in 1.7 seconds.

[2019-10-30 22:30] drieks commented on #3
I refactored `kotlinx.ast` so that it is now possible to use both `antlr-kotlin` and `antlr-java` to parse kotlin sources.
Example: https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-antlr-java/src/test/kotlin/kotlinx/ast/example/ExampleMain.kt

But sadly, it seems that `antlr-kotlin` is not much slower than `antlr-java`. I will try to figure out how to speed up parsing.

[2019-11-06 19:06] omarmiatello opened #5 "small issue in README.md"
current:

	api("com.github.kotlinx.ast:kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:0123456789")

fix:

	api("com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:0123456789")

[2019-11-06 22:19] #5 closed

[2019-11-06 22:19] drieks commented on #5
fixed, thank you!

[2019-11-06 22:51] drieks commented on #2
I'm closing this issue because you wrote that it is working fine now.

[2019-11-06 22:51] #2 closed

[2019-11-06 22:53] drieks commented on #1
I think this issue is resolved now, like #2.

[2019-11-06 22:53] #1 closed

[2019-11-06 23:02] drieks commented on #3
@ShikaSD pointed me to [antlr-optimized](https://github.com/tunnelvisionlabs/antlr4), so I implemented support for this antlr fork in `kotlinx.ast`. But sadly, it is not as fast as hoped.
I will try to implement a lexer and parser using antlr4 grammar files, only supporting the features that are required to parse kotlin files.
I already added support to parse antlr4 grammar files for this use case

[2020-01-19 10:03] ShreckYe opened #8 "Official Kotlin library?"
Is this an official Kotlin library supported by JetBrains? If not, I guess it is not appropriate to use the "kotlinx" prefix in the name. It causes ambiguity.

[2020-02-04 15:35] ckaanakyol opened #9 "Installation of the Library"
Hello,

I am interested in code generation and worked on it couple of years. I want to implement some code generation app. I used to work with Clang, but decided to switch C++ to Kotlin.

I try to run the application on its own but failed to manage. Is there any way to run it on its own?

Thanks,

[2020-03-01 22:03] drieks commented on #9
Hello @ckaanakyol,

sorry for the late answer. This is no Code Generation Library, it contains currently just the parsing part. I'm using `kotlinx.ast` to parse Kotlin source files (I'm looking for Annotations) and `com.squareup:kotlinpoet` for code generation.

[2020-03-01 22:06] drieks commented on #8
Hi ShreckYe,
yes, `kotlinx.ast` it is not releated to JetBrains. I will see if I can find another name.

[2020-03-20 11:42] VitaSokolova opened #10 "java.lang.ArrayIndexOutOfBoundsException during parsing"
Hi! I tried to parse a very simple file:
```class Sample (private val propertyA: String)```

using the code from [example ](https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-antlr-kotlin/src/jvmTest/kotlin/kotlinx/ast/example/ExampleMain.kt)

[code]

And got such error
[code]

[2020-03-20 22:32] drieks commented on #10
Hi @VitaSokolova,

thank you for reporting this!

I can confirm this Bug when using `AstSource.File`:
[code]
but using `AstSource.String` seems to work:
[code]

It is caused by this bug: https://github.com/Strumenta/antlr-kotlin/issues/38
I added a Workaround to `kotlinx.ast`, please try the current master version, it should work now as expected.

[2020-03-21 12:04] VitaSokolova commented on #10
I'm not so good at working with jitpack, does master branch deploy look like this:
`api 'com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:master-SNAPSHOT'` ?

[2020-03-21 12:11] VitaSokolova commented on #10
According to jitpack the last build (39d99c7b4b) had failed (

[2020-03-23 08:50] drieks commented on #10
Hi,

you can use the same way you used to run the example.
You can ignore the checks linked here https://github.com/kotlinx/ast/commit/39d99c7b4bd90cdcebe190fadb3e03f915b2f815,
these checks are not yet correctly configured.

You can find the jitpacks builds here: https://jitpack.io/#drieks/antlr-kotlin

syntax for build.gradle:
[code]

Feel free to paste your build.gradle and settings.gradle files

[2020-03-23 09:02] drieks commented on #10
Sorry, you can use "master-SNAPSHOT" as the version, "SNAPSHOT" will tell gradle that the version can change.

You are right, version 39d99c7b4b is broken, sorry. (I looked at the antlr-kotlin repository..) I will try to fix the build this evening.
How do you run the example? Did you create a small project and added kotlinx.ast?

[2020-03-23 13:47] VitaSokolova commented on #10
I pushed my small project, you can find it there https://github.com/VitaSokolova/ImpactAnalysisProject

[2020-03-24 22:12] drieks commented on #10
Hi @VitaSokolova,
sorry for the late answer. The build of `antlr-kotlin` was broken, the version was missing so that the default version was added to gradle metadata. That caused the build of `kotlinx.ast` to fail.
I fixed the `kotlinx.ast` build here: https://github.com/drieks/antlr-kotlin/commit/b09d76328f7d8c38417174d5621bbdfb52b6405e and the build of `kotlinx.ast` here: https://github.com/kotl

[2020-03-29 17:45] VitaSokolova commented on #10
Hi, I will upset you again( but I faced the same issue on com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:5db757217c version. You can found an example to run and proof it in my repository

[2020-03-30 23:11] drieks commented on #10
Hi @VitaSokolova,

your project works fine for me when running in Intellij Idea.

I added a "shadow jar" task to gradle:
https://github.com/VitaSokolova/ImpactAnalysisProject/pull/1
(A shadow jar contains all dependencies required to run program)

I also added this to gradle (I don't know why it is required, it is releated to gradle metadata and should normally be automatically included):
[code]

[2020-04-30 19:26] ToineHulshof opened #11 "How to get the entire AST instead of just the summary?"
Hi!

The title says it basically. How do you get the entire AST, with DefaultAstNodes converted to the Klass Data classes, from a kotlinfile. In the example the following function is invoked:

[code]

This function does not include the body of a function for example.
I tried to create my own function:

[code]

I tried to change the Mappers in the DefaultTreeMap, but couldn't get a configuration to

[2020-04-30 20:24] drieks commented on #11
Hi!

Here is a unit test file containing a function inside a class:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Class.kt.txt

This is the "raw" AST:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Class.raw.txt

And this is the result of summary():
https://github.com/kotlinx/ast/blob

[2020-04-30 20:28] drieks commented on #11
"functionDeclaration" to KlassDeclaration with keyword = "fun" conversation can be found here:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-common/src/commonMain/kotlin/kotlinx/ast/grammar/kotlin/common/summary/Declarations.kt#L185-L199

[2020-04-30 21:54] drieks commented on #11
Hi @ToineHulshof,

I added a new "raw" Field to ```Klass``` (and therefore all sub classes like ```KlassDeclaration```):
[code]
(https://github.com/kotlinx/ast/commit/bc66e2da3ab181dacf471c4c36c63e03192d72a9#diff-169a69e435ce6e0db18b509e932cc6adR6-R8)

You can now call ```kotlinFile.summary()```, look for a ```KlassDeclaration``` in the result and call ```raw``` on it.

Please let me know if this

[2020-04-30 22:36] ToineHulshof commented on #11
Hi @drieks

Thanks for the quick reply! I think this is what I had in mind, although I have not tested it yet, since I am currently accessing your build through Jitpack, which is not updated at the moment. As I am quite new to Kotlin development, I don't know how to use your master branch in another way (except for downloading the entire repo and adding it to my project, which might be a possibili

[2020-05-01 12:46] drieks commented on #11
Hi @ToineHulshof,

please try version ```bc66e2da3a``` using jitpack.

[2020-05-01 23:19] drieks commented on #11
Hi,

I added a new Option:
```kotlinFile.summary(attachRawAst = true)```

```attachRawAst: Boolean``` is now a required argument for summary.

The Version is ```c35b50fa44```

[2020-05-11 05:19] bootstraponline commented on #8
I was also confused and thought the library was official because of `kotlin`. 🤔

the library is awesome though.

[2020-05-13 15:15] rahullohra2903 opened #12 "Unable to use example class, because I am unable to import classes"
Hi, Please help in what I am doing wrong
I am unable to  use this **AstSource**

Dependencies used -

[code]

Sample code -

[code]

Error -
Unable to import class - AstSource

[2020-05-13 15:35] drieks commented on #12
Hi @rahullohra2903,
can you show me the full gradle file(s)?

[2020-05-15 14:24] rahullohra2903 commented on #12
Here -
**settings.gradle**

[code]

**build.gradle**

[code]

[2020-05-15 21:53] drieks commented on #12
Hi @rahullohra2903,

I'm not sure what you are trying to do. You need `com.github.drieks.antlr-kotlin:antlr-kotlin-gradle-plugin` if you want to convert a ANTLR-Grammar into a parser written in Kotlin. `com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin-jvm` already contains such a parser, created from the official kotlin language grammar (https://kotlinlang.org/docs/reference/grammar.html)

[2020-05-16 01:12] rahullohra2903 commented on #12
Thank you @drieks for your support . Everything is fine now. The **build.gradle** that you shared is running fine.

Only 1 dependency
   `implementation "com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin-jvm:c35b50fa44"`

was required in the build.gradle file

Thank you for providing guidance in `antlr-java` and `antlr-kotlin`

[2020-05-22 14:13] #10 closed

[2020-06-09 13:50] xgouchet opened #13 "Nullable types are not parsed correctly"
I'm parsing the following Kotlin code `kotlinx.ast` and the `KotlinGrammarAntlrKotlinParser`. But weirdly, I have some nullable types which are not marked as nullable.

[code]

Here's what I get when printing the AST nodes

[code]

I'm using version `c35b50fa44` from JitPack :
[code]

[2020-06-10 09:27] xgouchet commented on #13
If I print the raw AST for the `s: String?` parameter, I get this, so the raw AST does know that the type is nullable :

[code]

[2020-07-26 02:03] miniyoung84 commented on #11
Hello,

I am having the same issue and I turned `attachRawAst` to true in the Example files and it's not changing the output. Is there more I have to do for it to work?

Thanks

[2020-07-27 20:23] #12 closed

[2020-07-27 20:23] #9 closed

[2020-07-27 20:34] drieks commented on #11
Hi @miniyoung84,

you can see the {{RawAst}} e.g. in the debugger:
![image](https://user-images.githubusercontent.com/861387/88589245-1fa81f80-d059-11ea-81cc-159a3afba686.png)

It is not printed because normally it is very big...

[2020-07-27 20:36] drieks commented on #13
Hi @xgouchet,

sorry for the late answer, I was very busy.. I will have a look, it should be easy to fix.

[2020-07-27 21:08] drieks commented on #13
Hi @xgouchet,

I added your example as an unit test here https://github.com/kotlinx/ast/commit/bc5260ab4a22ddc421175cb06effa3587f3fb280 and fixed the missing nullable check here https://github.com/kotlinx/ast/commit/c6e164e3c0eb5747db58f8458a164cec96db0c74.

Please try the latest version and let me know if you have still issues.

[2020-07-28 02:06] miniyoung84 commented on #11
Hello @drieks ,

Thank you so much for your answer. Sorry if this is a stupid question, but may I ask what debugger is being used there? I'm unable to locate it on mine.

[2020-07-28 06:48] xgouchet commented on #13
Looks all good to me :) Thanks a lot

[2020-07-29 20:09] #13 closed

[2020-07-29 20:19] drieks commented on #11
Hi @miniyoung84, the Screenshot was taken from IntelliJ IDEA (https://kotlinlang.org/docs/tutorials/jvm-get-started.html)

[2020-08-15 12:47] eiswind opened #15 "HELP Wanted: How to download the gradle artifacts with kotlin("jvm")"
I desperately fail to get the artifacts from jitpack into my gradle build.

The module uses the jvm only kotlin plugin

[code]

gradle seems to download a descriptor file from jitpack, but nothing else. It doesn't matter if I set the enableFeaturePreview or not.

Do you have any ideas what I'm getting wrong here?

[2020-08-15 12:53] eiswind commented on #15
Answer found:
https://github.com/kotlinx/ast/issues/12 seems to solve it

[2020-08-15 12:53] #15 closed

[2020-08-16 09:34] eiswind opened #16 "Understand the AST"
If I look at

https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Class.raw.txt

Starting at line 60 I wonder where this complexity comes from until we reach the actual literal at line 75.

Could someone please help me understand that?

[2020-08-17 22:17] drieks commented on #16
Hi @eiswind,
please have a look at the grammar file: https://kotlinlang.org/docs/reference/grammar.html#valueArgument

valueArgument is defined there:
[code]
So a valueArgument (Line 60 in Class.raw.txt) contains an expression (Line 61).

https://kotlinlang.org/docs/reference/grammar.html#expression
Every Expression contains a disjunction (Line 62),

https://kotlinlang.org/docs/reference/grammar.h

[2020-08-17 22:18] #11 closed

[2020-08-19 06:17] eiswind commented on #16
@drieks Thanks for clearing that up!

[2020-08-19 06:17] #16 closed

[2020-09-09 08:10] mediavrog opened #17 "Question: Support for kdoc"
So in the examples and the test cases, it seemed that single line comments are stripped from the AST output.
Now I could not find a reference or test case for class or function documentation (kdoc). Will this library parse them into some nodes or will comments be ignored in the output?

[2020-09-09 19:15] drieks commented on #17
Hi @mediavrog,

all comment are part of the raw ast, but they are currently not attached to a class.

I added an example here:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Issue17.kt.txt

As you can see in  the raw ast, the KDoc comment is attached to the package header:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test

[2020-10-21 21:58] drieks opened #18 "Support for kotlin 1.4"
Support for kotlin 1.4.x should be added

[2020-10-28 21:10] arkadiuszpalka opened #19 "Failed to parse typeParameter"
I noticed that the library has problem to parse generic type with `.` dot

File under test:
[code]

I'm invoking it like at example:
[code]

Library version:
[code]

[2020-10-28 21:43] drieks commented on #19
Hi @arkadiuszpalka,

thank you for reporting, I will fix this.

[2020-10-30 21:53] drieks commented on #19
Hi @arkadiuszpalka,

should be working now, please try 'com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin-jvm:d88839cab5` for kotlin 1.3 or 'com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin-jvm:c7dd6bbd54` for kotlin 1.4 (support for kotlin 1.4 is new)

[2020-10-30 21:54] drieks commented on #18
merged in #20

[2020-10-30 21:54] #18 closed

[2020-11-01 22:14] arkadiuszpalka commented on #19
Hi @drieks , thank you for quick fix!

I have checked it in the `com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin-jvm:c7dd6bbd54` (kotlin 1.4) and works well

[2020-11-01 22:14] #19 closed

[2020-11-27 10:02] rajatpundir opened #21 "How to get the line/column numbers of elements in AST?"
When parsing AST, how can I find out on which line a particular Class or Function was declared?

[2020-12-01 07:10] rajatpundir commented on #21
And how can I get the AST representing statements inside the method?

[2020-12-06 14:06] drieks commented on #21
Hi @rajatpundir,
sorry for the late response. Adding the line number should be easy, I will look into this.

Parsing the body of a function is currently not possible, but maybe easy to add. I will try to figure out how complicated this is.

[2020-12-07 22:04] drieks commented on #3
The time for `./gradlew clean check` was reduced from 3min 30s in commit c7dd6bbd5419789a7feba0d68cf6f1f326197103 to 2min 30s in commit f088b3cf8de0817e9f235c0b53e0923127956b22.

because of this, all kotlin files will now be scanned in the self test.

it is still required to speed this up, I think we need some patch to the kotlin parser/lexer for this.

[2020-12-07 22:24] drieks commented on #3
build time for commit 95db180495bb46afe42767191996e3cd49cd96cf is 44s, so we can assume that testing the previusly excluded files takes around 1 minute 45s.
- KotlinLexer.kt
- KotlinParser.kt
- UnicodeClasses.kt

[2020-12-17 21:01] drieks commented on #21
Hi @rajatpundir,

I added support for line/row information and buffer index offset.
You can find examples here: https://github.com/kotlinx/ast/tree/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata

The Kotlin source can be found in `*.kt.txt`, eg. in https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Class.kt.txt, the position

[2020-12-17 21:26] drieks commented on #21
Sadly, there are only some summary nodes, but the full kotlin language is currently not covered. I'm using the library to build an outline of the file. you can access the raw ast of the function, for example this function:

[code]
found here:
https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Class.kt.txt#L14-L17

will be represented in the summ

[2021-01-19 15:29] mbolotov opened #28 "Object is always parsed empty"
**object** node is always parsed empty.
Parsing this piece of code
[code]
produces the following AST:
[code]
**MyClass** shows `myFun` node while **MyObject** does not.

Lib version is 'com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:c7dd6bbd54'

[2021-01-19 22:05] drieks commented on #28
Hi @mbolotov,

thank you for reporting! It is fixed now, see https://github.com/kotlinx/ast/commit/5a03ad31d5be60982370d9bfeafb2cff026a54f2

Please try 'com.github.kotlinx.ast:grammar-kotlin-parser-antlr-kotlin:5a03ad31d5' and let me know, if it is also working for you.

[2021-01-21 21:53] mbolotov commented on #28
it works for me, thanks!
closing this issue

[2021-01-21 21:53] #28 closed

[2021-03-18 07:45] Symbolk opened #29 "How to recursively print the structure of Ast"
Hi, thanks for the work!

I am fresh to Kotlin, and I want to convert a Kotlin file to AST.

Here is my Kotlin file:

[code]

Here is the test code:

[code]

And here is the result, which only prints the top-level ones:

[code]
However, I found that the children for the top-level object AST is empty, then how to print the whole structure of the file?

[2021-03-19 22:32] drieks commented on #29
Hi @Symbolk,

your example is parsed fine, I added a unit test here: https://github.com/kotlinx/ast/commit/a96e681f906f1ec1ab4db8a81ffbbcbbe529317f#diff-533d272ff7698c80d33e59cc079b9817e25a132371c50795c415d89da2189674

Maybe you are not using the latest version, there was a bug related to object parsing (https://github.com/kotlinx/ast/issues/28) fixed in january.

Please try `com.github.kotlinx.as

[2021-03-20 08:13] Symbolk commented on #29
Thanks, I was using `f9c929a8ab` as the JitPack tag suggests, but changing it with `5a03ad31d5` tends to work fine!

![image](https://user-images.githubusercontent.com/14107297/111863505-f4cb5c80-8996-11eb-8f47-26be08ba5960.png)

[2021-03-20 08:13] #29 closed

[2021-03-20 21:50] drieks commented on #29
Hi @Symbolk,

thank you for the hint. I think I should switch it to version numbers.. I'm not sure why the JitPack tag is not pointing to the latest version...

[2021-04-07 20:46] arkadiuszpalka opened #31 "ParseCancellationException - string interpolated functions"
Hi, I'm not sure that is it `ast` library issue but I've got following file:
[code]

I'm testing the file as usual:
[code]
and parser throws an exception:

	at kotlinx.ast.parser.antlr.kotlin.AntlrKotlinErrorListener.syntaxError(AntlrKotlinErrorListener.kt:17)
	at org.antlr.v4.kotlinruntime.ProxyErrorListener.syntaxError(ProxyErrorListener.kt:34)
	at org.antlr.v4.kotlinruntime.Parser.notifyErrorLi

[2021-04-15 11:17] fab1an opened #32 "Nullable types are not parsed correctly"
[code]

The `nullable` field of the `myParam` inside the constructor is set to false.
I'm using a96e681f90.

[2021-04-15 21:08] drieks commented on #31
Hi @arkadiuszpalka, I will check this. Thank you for reporting it!

[2021-04-15 21:50] drieks commented on #32
Hi @fab1an,

thank you for reporting this! Should be working now in version https://github.com/kotlinx/ast/commit/59c388806eba4b9bd980ac1a2aba669ac4d60612

[2021-04-15 21:52] drieks commented on #31
Hi @arkadiuszpalka,

you found an error in the kotlin antlr grammar file. should be working now (in version https://github.com/kotlinx/ast/commit/0b853e90aa412f21567626b069747b654956261a)

[2021-04-15 22:28] drieks commented on #31
There is a build problem, https://github.com/kotlinx/ast/commit/0b853e90aa412f21567626b069747b654956261a is not working, sorry. I will fix this in the next few days.

[2021-04-16 04:45] gauthier-roebroeck-mox opened #33 "Best way to explore AST to search for specific patterns?"
Hello,

i am trying to migrate an existing project using kastree to this library.

I am struggling to retrieve the content of a parameter of an annotation that is on a method of a class.

I have a Kotlin file that looks like this (excerpt):

[code]

What's the best way to get the content of the `topics` argument of the `@KafkaListener` annotation ?

So far i came up with this. This gives me the me

[2021-04-16 06:51] fab1an commented on #32
How can I use this in gradle? Your readme states that releases can be found on jitpack, but I don't really know what to make of this site: https://jitpack.io/#drieks/antlr-kotlin

[2021-04-17 21:19] drieks commented on #31
Hi @arkadiuszpalka, please try version 57556f1603, it should work now.

[2021-04-17 22:11] drieks commented on #33
Hi @gauthier-roebroeck-mox,
`KlassDeclaration` has a Member called `annotations`. When you have the `func: KlassDeclaration` you can write `func.annotations` to get a list of all annotations. You can then compare the `identifier` to check if the given name of the annotation is KafkaListener. When this is the case, you can write
[code]

(import kotlinx.ast.common.klass.identifierName)

Reading the

[2021-04-20 11:55] arkadiuszpalka commented on #31
@drieks Hi, thank you for your involvement! I will check it out and give a feedback.

[2021-04-21 04:09] gauthier-roebroeck-mox commented on #33
The best I could come up with is this, not very pretty:

[code]

Is it possible to use something in `kotlinx.ast.common.filter` to make it better ? I couldn't find any doc on those `TreeFilter`.

[2021-04-21 04:15] gauthier-roebroeck-mox opened #34 "java.lang.NoClassDefFoundError: Could not initialize class kotlinx.ast.grammar.kotlin.target.antlr.kotlin.KotlinGrammarAntlrKotlinParser"
My project is a Gradle Plugin that parses Kotlin code to generate flat files.

I am trying to replace kastree with this library, but i encounter the captioned error when I run my plugin in another project. My code works fine within my Gradle plugin project and my tests though. I suppose this is a missing transitive dependency problem, but I can't figure out what is missing exactly.

In my Gradle p

[2021-04-21 06:40] gauthier-roebroeck-mox commented on #34
I realize this may not be directly an issue of the library, but a consequence of using the ShadowJar plugin.

Note that i have the following file in my generated jar:
[code]

[2021-04-22 20:41] drieks opened #35 "support for extension functions"
Support for extension functions is missing

[2021-04-22 20:55] #35 closed

[2021-04-22 21:30] drieks commented on #33
Hi @gauthier-roebroeck-mox,

yes, sadly I have only little time to work on this library and I prefer to add new functionality, so there is almost no documentation. TreeFilter is mainly used as an internal API by TreeMapper. This is something like map/flatMap on a AST-Structure. If you are interested in an example: https://github.com/kotlinx/ast/blob/816803892c3b4558a8036d4220d9326c47b14b01/grammar

[2021-04-22 21:48] drieks commented on #34
Hi @gauthier-roebroeck-mox,
when the class is not found (for example, if you remove the .class file from the jar file) you will get a ClassNotFoundException. NoClassDefFoundError means that there was an exception while running the static initialisation code of the given class. There should be another error in the log before this. This can be a ClassNotFoundException, caused by one of the dependenc

[2021-04-23 02:22] gauthier-roebroeck-mox commented on #34
@drieks here is a [gist](https://gist.github.com/gauthier-roebroeck-mox/d2f43ce923483923a336ba2532963cee) with the 2 greps you provided. Appreciate if you can help finding out what's missing for your library to function.

[2021-04-23 20:13] drieks opened #36 "Support for Some.Objects.With.SubTypes"
Support for Some.Objects.With.SubTypes is missing

[2021-04-23 20:43] #36 closed

[2021-04-26 03:13] gauthier-roebroeck-mox commented on #34
There's no other error prior to that one.

Here is the code I use to parse:

[code]

[2021-04-29 14:09] takanuva15 opened #37 "Error: There is no feature named GRADLE_METADATA"
Hi, I'm trying to get set up with this library for the first time so I can start using it. However, after following the instructions in #12 and running the gradle `jar` command, I keep getting this error: `There is no feature named GRADLE_METADATA`

I am confused how to proceed at this point? If I comment out that line, I get this error instead: `KotlinSourceSet with name 'commonMain' not found.`

[2021-04-29 20:47] drieks commented on #37
Hi @takanuva15,

GRADLE_METADATA was removed in Gradle 7.0, you can just remove this line, it is no longer required.

You are using the JVM-only Kotlin Plugin `kotlin("jvm")`, but `commonMain` is a Multiplatform (`kotlin("multiplatform")`) SourceSet name, please try just `main` or the multiplatform plugin.

[code]

[2021-04-29 20:50] drieks commented on #34
Hi @gauthier-roebroeck-mox,

sadly it is very hard to help in this case because I can't debug it. Can you create a repository containing only the files required to reproduce this problem?

[2021-04-30 02:51] takanuva15 commented on #37
Sweet thanks! It's working now

[2021-04-30 02:51] #37 closed

[2021-04-30 02:58] takanuva15 commented on #17
I am interested in this feature as well; I want to parse just individual kdoc comments and verify their contents as part of my workflow.

@drieks Can you recommend me which classes within this ast library I should look at for making such a feature possible?
(ie a kdoc comment declared above a class will be associated with that KlassDeclaration, and the kdoc's contents will be recorded too).

[2021-04-30 03:32] gauthier-roebroeck-mox commented on #34
That may be difficult, it is an internal private project for my employer, i cannot share the code as is.

[2021-04-30 20:40] drieks commented on #34
Hi @gauthier-roebroeck-mox,

you can start with an empty project/directory and add only the required files, mainly the build file. No additional dependencies (expect kotlinx.ast) are required, only one small example main and the important part, the jar building settings. No other source files are required. This is called "minimal working example" and allows me to debug this problem.

[2021-05-11 16:13] mbolotov opened #38 "Properties from companion object are not parsed as KlassDeclaration instances"
Given the following code:

[code]

the parser returns `myConst` and `myClassProp` as a KlassDeclaration instances, but the `myCompanionProp` is parsed as a tree of  `DefaultAstNode`/`DefaultAstTerminal` which are hard to analyze:
![image](https://user-images.githubusercontent.com/19785715/117849249-cb3efb00-b28c-11eb-88d5-2d3c4f758d4e.png)

Is this the expected behavior?

[2021-05-31 13:20] arkadiuszpalka commented on #31
It's working and I'm closing the issue.

[2021-05-31 13:20] #31 closed

[2021-05-31 15:00] arkadiuszpalka opened #42 "Found unsupported ast node. Function uses type projection 'out'"
Hello :)
Here's the file under test:
[code]

and the parser prints out the following message:
[code]

seems the `out` makes trouble.

Library version

[2021-06-01 20:18] drieks commented on #42
Hi @arkadiuszpalka,

please try version ee1cd9f807, it should work now.

[2021-06-09 04:33] vinaysshenoy opened #43 "Source code generation from the AST"
I've been working on a meta-programming tool that can process generated code for the Android [Room database](https://developer.android.com/training/data-storage/room) and transform it to insert profiling statements. Since this generates Java code, I've used [JavaParser](https://javaparser.org/) to read the Java code into an AST, transform it and output the transformed AST as source code (since thi

[2021-06-10 20:44] drieks commented on #43
Hi @vinaysshenoy,
yes, this library only supports parsing of kotlin code. Sadly, I have no time to implement transformation or writing logic. In my private project, a small meta programming tool, I'm using kotlinx.ast to parse the kotlin source and https://github.com/square/kotlinpoet to write the generated code. The first step is transforming the string represeting the full kotlin file into an ab

[2021-06-11 04:09] vinaysshenoy commented on #43
Alright, thanks for the information! I'll take a look at what you've suggested.

[2021-06-29 10:10] saintjab opened #44 "Running at command line"
Hi, thanks for this tool. This is really a question and not an issue as am not conversant with ASTs. Is this something that can be run from the command line or as gradle task? If possible (gradle better), could you give me some pointers? At the moment am running this as a unit test and printing the output to a file to be checked later. Ideally, I want to create a gradle task pointing to a dir to l

[2021-06-29 22:45] drieks commented on #44
Hi @saintjab,

the unittest for kotlinx.ast are implemented in this way, a normal unittest that will read a file, parse the ast and then it will dump it.

You can find this test files here:
https://github.com/kotlinx/ast/tree/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata

*.kt.txt is the given test data
*.raw.ast.txt the the raw ast as returned by antlr
*.raw.info.txt contain

[2021-07-26 11:54] arkadiuszpalka commented on #42
Thank you, I close the issue

[2021-07-26 11:54] #42 closed

[2021-08-15 15:02] kevinvandenbreemen opened #48 "How to Visit Each Node of an AST?"
Good morning,
I've been playing with your library for a bit to see if I can use it in a project to analyze Kotlin code.  I am confused about what / whether there is a relation between the concept of a "summary" (see Summary.kt extension functions a la Ast.summary() function) and that of visiting nodes as one would do in libraries like ParseJava.

Is there a way for me to execute a visitor pattern

[2021-08-15 19:10] drieks commented on #48
Hi @kevinvandenbreemen,

both the "raw ast" (the parsing result) and the "summary ast" are data classes. The base type is {{kotlinx.ast.common.ast.Ast}}, you can recursively process them and check for instances of {{kotlinx.ast.common.ast.AstNode}}, when it is a {{AstNode}} you can use the field {{children}} to process the child nodes.

The difference is that the "raw" ast contains every detail of

[2021-08-18 00:45] kevinvandenbreemen commented on #48
Thank you, this is quite helpful :) and I think I can use it to optimize some of the work I've written so far on my project.  Thanks again

[2021-08-20 07:20] #34 closed

[2021-09-04 15:39] kevinvandenbreemen commented on #17
Hey there,
I too am interested in being able to parse kdoc.  However I've checked the links posted above and they are going to page not found errors.  Do you have any other examples?

At the moment I have been able to locate comments using the "attachments" field on AstWithAttachments.   Without side-tracking the conversation and intent of this particular question too much I am wondering: what is

[2021-09-13 20:00] drieks commented on #17
Hi Kevin @kevinvandenbreemen,

you can find many examples in the unittest folder: https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/

The Files are still there, just renamed:
* https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-test/src/commonMain/resources/testdata/Issue17.kt.txt
* https://github.com/kotlinx/ast/blob/master/gramm

[2021-10-08 09:04] fab1an opened #50 "KotlinGrammarAntlrKotlinParser very slow for files with json-strings"
Creating a file like this:

[code]

Running
[code]

takes very long on a file like this. If I replace the JSON in the string with base64, it will be much faster.
Does the grammar somehow inspect the braces inside the templating?

[2021-12-10 08:33] lululu016 commented on #21
Hi, @drieks
Recently I want to extract Kotlin AST, and feel really happy to find this library. But I need to get the AST representing statements inside the method, either. I'm struggling with it, because there are no api for extracting Kotlin AST. So I would like to ask you that if I want to implement this by myself, what should I do, where should I start and how difficult it is. It is very import

[2021-12-13 23:09] drieks commented on #21
Hi @lululu016,
sorry for my late answer. It is possible to implement the missing code here in kotlinx.ast. There are many unit tests and it is easy to add new tests, so it should not be too difficult. If you want to give it a try, please try to checkout this repository and open it in IntelliJ IDEA (or any other IDE) and try to start this test:
´grammar-kotlin-parser-antlr-java/src/test/kotlin/kotl

[2021-12-14 04:50] matkoniecz opened #59 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2021-12-14 05:35] matkoniecz opened #63 "I am really confused, which dependency should be used?"
https://github.com/kotlinx/ast#using-with-gradle tells me

[code]

or

[code]

https://jitpack.io/#drieks/antlr-kotlin tells me to use `implementation 'com.github.drieks:antlr-kotlin:Tag'`

https://jitpack.io/#drieks/antlr-kotlin/d4384e4d90 tells me to use `implementation 'com.github.drieks.antlr-kotlin:antlr-kotlin-gradle-plugin:d4384e4d90'`

Neither `api("com.github.kotlinx.ast:grammar-kotlin-pa

[2021-12-14 05:40] matkoniecz commented on #63
And after doing either https://github.com/kotlinx/ast/blob/master/grammar-kotlin-parser-antlr-kotlin/src/jvmTest/kotlin/kotlinx/ast/example/ExampleMain.kt still fails with `Unresolved reference: ast` in `import kotlinx.ast.common.AstSource`

[2021-12-14 05:56] lululu016 commented on #21
Hi, @drieks
I'm sooooo glad to receive your reply, and I will try it these days. When I finish, I will let you know as soon as possible. Thanks a lot for your meticulous reply again.

[2021-12-14 07:43] lululu016 commented on #21
Hi, @drieks
I have tried all the steps you explained, it works well and help me a lot. I'm looking forward for your further explanation. Thanks soooooo much!

[2021-12-14 21:56] #48 closed

[2021-12-14 21:58] drieks commented on #21
Hi @lululu016, this is great! I will try to write some more examples.

[2021-12-14 21:59] drieks commented on #50
Duplicate of #3

[2021-12-14 21:59] #50 closed

[2021-12-14 22:05] drieks commented on #59
Hi @matkoniecz, thank you! I started to move the build from jitpack to github actions, but I had no time to finish this yet. But you are right, I have disabled this until the build it is moved.

[2021-12-14 22:06] drieks commented on #59
Feel free to add more comments, I will close this issue just because it is "fixed" now

[2021-12-14 22:07] #59 closed

[2021-12-14 22:21] drieks commented on #63
Oh, thank you for reporting this. https://github.com/kotlinx/ast is the "main" repository. https://github.com/drieks/antlr-kotlin/ is a fork of https://github.com/Strumenta/antlr-kotlin/ I'm using in kotlinx.ast to support kotlin.js and kotlin native. Currently, all my changes are merged into upstream, so drieks/antlr-kotlin is currently not required.

To make it complicated, https://github.com/dr

[2021-12-14 22:38] drieks commented on #63
I tried to move the build from jitpack to github actions, but did not find time to finish it right now. I want to add normal version numbers and a github actions based build and to remove everything jitpack related because it seems to confuse  users of kotlinx.ast.

But the readme should contain working examples, there must be a missing change that is required to get it working again.

[2021-12-15 07:37] fab1an commented on #3
Can you have a look at my comment in #50 ? Why is a large garbage-string faster than a fast string containing json?

[2021-12-30 05:25] lululu016 commented on #21
Hi, @[@drieks](https://github.com/drieks)

Recently I try to extract statement inside the method, and I would like to ask for help for some quetions I faced and look forwards to some examples from you.

For example, if I want to represent a `while` statement like this:

[code]

I want to represent it in ast.summary like this:

[code]

How should I do？I would be really appreciate if you could give

[2021-12-30 22:35] drieks commented on #21
Hi @lululu016,
I think I have currently no time to write a documentation, but a step by step way sounds good. Thank you!

The first step is adding the transformation target. The "raw" AST is always a generic tree structure and therefore not typesafe. Currently, all supported kotlin ast nodes are transformed into instances of ´Klass´ (see Klass.kt line 9).
Instances of Klass AST-Nodes can represent

[2021-12-31 22:51] drieks commented on #21
Hi @lululu016 ,

I added a transformation from functionBody to KlassBlock. The Implementation is not finished, currently, only a dummy comment is added as an example:

´´´
// functionBody
//     : block
//     | ASSIGNMENT NL* expression
//     ;
    .convert(
        filter = byDescription("functionBody")
    ) { _: Ast ->
        astContinue(
            KlassBlock(
                listOf(

[2022-01-01 22:19] drieks commented on #21
Hi @lululu016 ,
in commit https://github.com/drieks/ast/commit/fe52ba7f31f26f177cb16d6e325faaf3344598ad I added a new class `KlassBlock`. The idea is to represent a code block using this class, so every function should contain a `KlassBlock`. An empty function has an empty `KlassBlock`, a function containing an assignment (`fun x(): Int = 1`) contains one entry in the `statements` list of `KlassBl

[2022-01-01 22:46] drieks commented on #21
In the next commit (https://github.com/drieks/ast/commit/7c79d0a0a433ecaf886c9a5ff5e3243d831c2e3d) I added the "real" implementation for the "functionBody" transformation. `recursiveFlatten` will recursively transform all child nodes of the passed `node`. `recursiveChildren` will return the "same" node, but with transformed child nodes. `recursiveFlatten` will "drop" the passed node, only the tran

[2022-02-27 20:12] henrikbarium opened #67 "End-of-line comments not available in summary"
If I run:
[code]
The resulting raw AST contains the line comment (as expected). If I call `summary()` on that AST, the line comment is represented as a `KlassComment` (again, as expected).

Then, if I run:
[code]
Again, the resulting raw AST contains the line comment (as expected). However, if I call `summary()` on that AST I cannot find the comment anywhere.

Am I missing something or is this a l

[2022-03-03 07:27] henrikbarium opened #69 "Property delegate not available in summary"
If I run:

[code]

The raw AST contains `kotlinFile`/`topLevelObject`/`declaration`/`propertyDeclaration`/`propertyDelegate` which describes the `by lazy { 42 }` part.

However, in the summary AST that I get back from `rawAst.summary(false).get()` I cannot find any reference to the property delegation. The `KlassDeclararation` for `val answer` is there, but it has no children (no expressions or an

[2022-03-03 07:29] drieks commented on #69
Hi @henrikbarium, thank you for reporting, I will fix it.

[2022-03-03 07:29] drieks commented on #67
Hi @henrikbarium, thank you for reporting, I will fix it.

[2022-03-03 09:45] henrikbarium opened #70 "Argument with unary prefix is incomplete in summary AST"
If I run:
[code]

Then `!thisIsNotAvailable` is represented in the raw AST as a `prefixUnaryExpression` with a `unaryPrefix` (`!`) and `postfixUnaryExpression` (`thisIsNotAvailable`).

When i look at the corresponding summary AST, there is a `KlassDeclaration` with keyword `argument` supposedly representing `!thisIsNotAvailable`. However, looking at the argument's expression shows only a `unaryPre

[2022-03-03 10:53] henrikbarium commented on #70
Unless I'm completely confused at the moment and doing something stupid, it seems to apply to more types of expressions when used as function arguments.

I get the same behavior for:
[code]

[2022-03-04 23:33] drieks commented on #67
Hi @henrikbarium, should be working now. Some AST-Nodes were dropping "unrelated" AST-Nodes, but comments were handled as unrelated. I changed this "related" filter and added a new comment filter to keep all comment nodes.

Please try version 7a60784a13.

[2022-03-04 23:41] drieks commented on #69
Hi @henrikbarium,
code blocks are currently not supported. I can try to add a "by" marker to `KlassDeclaration`, but the function invocation `lazy { 42 }` can not be expressed because there are many ast node types missing. See https://github.com/kotlinx/ast/issues/21 for more details. Please let me know if you have any questions.

[2022-03-04 23:50] drieks commented on #70
Hi @henrikbarium, this library can parse only the code outline, the content of functions are not implemented. I close this ticket as a duplicate of #69 and #21, I hope this is fine for you.

[2022-03-04 23:50] #70 closed

[2022-04-06 19:21] CamilYed opened #72 "Best way to add new keywords like in the Spock test"
Hi I would like to add some additional keyword (labels) knows from Spock library: Given, When, Then, Expect, And.
These labels would be enabled only when junit test class is annotated with my custom annotation for instance `@BddScenario`.

I think that currently is not possible or maybe I am wrong?

[2022-04-07 06:59] drieks commented on #72
Hi @CamilYed,

can you provide a short code example? I'm not sure if I understand your question correctly.

[2022-04-15 11:09] CamilYed commented on #72
[code]

Like in Spock framework
https://github.com/CamilYed/readable-tests-by-example/blob/master/src/integrationTest/groovy/tech/allegro/blog/vinyl/shop/order/OrderPaymentAcceptanceSpec.groovy

Spock makes some AST modifications.

[2022-04-15 21:42] drieks commented on #72
Hi,

if you only want to write tests with given/when/then in kotlin, you can use kotest [BehaviorSpec](https://kotest.io/docs/framework/testing-styles.html#behavior-spec). If you really want to change the ast, you should try to implement a kotlin compiler plugin. I think it is not possible to add a new syntax, because the ast is parsed first and all compiler plugins are invoked after this. I think

[2022-04-16 09:36] CamilYed commented on #72
Hi,
thank you for clarifying that.

[2022-04-16 09:36] #72 closed

[2022-05-23 08:31] bytehub opened #74 "Can I get the specified method code block"
I used this tool to parse the kotlin source code, but I want to get the code block of each method parsed out for the inspection of method code changes

[2022-07-10 09:52] atollk opened #75 "Record syntax error messages"
Right now, the Kotlin parser uses `AntlrKotlinErrorListener` to deal with errors while parsing. That class throws `ParseCancellationException` on syntax error, which seems to be a dummy class that doesn't hold any information. Basically, the information on which token the error occurred is completely lost.
Also, the parser explicitly removes all other listeners from the ANTLR parser, so you can't

[2022-07-14 07:48] matkoniecz commented on #63
I tried again ( https://github.com/matkoniecz/astmine ) :

---------------------------------------------

Note that "Add the dependency to kotlinx.ast into your project:" is confusing for confused people like me. Looking at other code I have not found where exactly this snippet should be added.

If there would be chance for standalone working example - it would be highly appreciated.

Note: that i

[2022-07-14 19:06] matkoniecz commented on #63
https://github.com/2bad2furious/kotlinx-ast-demo worked with minor tweaks (making gradlew executable, adding gradle folder)

[2022-07-16 09:57] matkoniecz opened #77 "Why column is called row?"
Why column is called `row`? It appears in what `astInfoOrNull` returns.

Is it some slang/peculiarity in among parser writers? Or some typo? Or maybe I am mistaken about how English works?

I expected lines and columns, not lines and rows. And would expect row to be synonym of line, not of column.

----------------------------
wider explanation if above is unclear

With

[code]

one may extract li

[2022-09-15 11:31] vchernyshov opened #80 "Unsupported ast node functionType when function type used as generic type"
Hi, I have faced with
`java.lang.IllegalStateException: found errors: [found unsupported ast node ... in typeProjection!` when was parsing Kotlin file that contains function type at generic type: `List<(PricingPlan) -> Boolean>`. According to source code only `KlassIdentifier` or `KlassModifier` allowed but in case of functionType the `right` will be `DefaultAstNode`.

[2022-11-14 12:33] fhoner opened #89 "Publish somewhere different than jitpack.io"
Due to unreliability of jitpack.io repository (https://github.com/jitpack/jitpack.io/issues/5239) I wanted to ask if it is possible to publish somewhere else, like maven central or anything. Our builds are constantly failing due to this.

[2022-11-14 17:36] drieks commented on #89
Hello, I am very sorry. Unfortunately, I currently have very little time for this, but I had already considered changing this. If I find time I'll take a look.